body {
    background-color: #101527;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



#inputGasto {
    margin-top: 20px;
}

.form-label {
    color: #ffffff;
}

.btn-primary {
    margin-top: 20px;
}

.centrar-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.perfil  {
    max-width: 150px;
    width: 150px;

}
